//
   Created by Maarten on 14-12-2015.
extends layout

block content
    form(method='post', action='contact/send')
        h1 Contact
        .form-group
        label Name
        input.form-control(type='text', name='name', placeholder='Enter your name')
        .form-group
        label Email
        input.form-control(type='email', name='email', placeholder='Enter your email')
        .form-group
        label Message
        textarea.form-control( name='message', placeholder='Enter a message..')
        button.btn.btn-default(type='submit') Submit
