//
   Created by Maarten on 13-12-2015.
extends layout
block content

    h1 services
    each service, i in services
        div.well
            h3 #{service.name}
            p #{service.description}
            p
            | Price Range: #{service.price_range}
